<div class="main-box">
    <h1>Olá {{user.username}}</h1>
    <h2>Series pendentes:</h2>
    <div class="row">
        {{#each series}}
        <div class="card m-2 bg-light" style="width: 18rem; height: 28rem;">
            <img class="card-img-top" style="max-height: 16rem;" src="{{imgPath}}" alt="Serie IMG">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Gênero: {{genre}}</p>
                <p class="card-text">Nota: {{rating}}</p>
                <a href="/serie/{{_id}}" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
        {{/each}}
    </div>
    <hr>
    <h2>Lives pendentes:</h2>
    <div class="row">
        {{#each lives}}
        <div class="card m-2 bg-light" style="width: 18rem; height: 28rem;">
            <img class="card-img-top" style="max-height: 16rem;" src="{{imgPath}}" alt="Live IMG">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Gênero: {{genre}}</p>
                <p class="card-text">Data: {{data}}</p>

                <a href="/live/{{_id}}" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
        {{/each}}
    </div>
    <hr>
    <h2>Receitas pendentes</h2>
    <div class="row">
        {{#each receitas}}
        <div class="card m-2 bg-light" style="width: 18rem; height: 28rem;">
            <img class="card-img-top" style="max-height: 16rem;" src="{{imgPath}}" alt="Receita IMG">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Nível de dificuldade: {{level}}</p>
                <p class="card-text">Categoria: {{category}}</p>

                <a href="/receita/{{_id}}" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>