<div class="main-box">
    <h1>Series</h1>
    <button><a href="/add-serie">Adicionar serie</a></button> <br><br>

{{!-- SEARCH FORM --}}
    <form action="/series/search" method="post">
        {{#if search}}
        <label for="search">Pesquisar: </label>
        <input type="text" name="search" value="{{search}}">
        {{else}}
        <label for="search">Pesquisar: </label>
        <input type="text" name="search" placeholder="Coloque o nome da Serie">
        {{/if}}
        {{#with genreOne}}
        <input type="checkbox" value="{{this}}" name="genre" checked>
        <label for="{{this}}">{{this}}</label>
        {{/with}}
        {{#each genre}}
        <input type="checkbox" value="{{this}}" name="genre" checked>
        <label for="{{this}}">{{this}}</label>
        {{/each}}
        {{#each genreArr}}
        <input type="checkbox" value="{{this}}" name="genre">
        <label for="{{this}}">{{this}}</label>
        {{/each}}
        <button type="submit">Buscar</button>
        {{#if buscado}}
        <a href="/series">Limpar filtros</a>
        {{/if}}
    </form>

{{!-- SERIES LIST --}}
<div class="row">
    {{#each series}}
    <div class="card m-2 bg-light" style="width: 18rem; height: 28rem;">
        <img class="card-img-top" style="max-height: 16rem;" src="{{imgPath}}" alt="Serie IMG">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Gênero: {{genre}}</p>
            <p class="card-text">Nota: {{rating}}</p>

            <a href="/serie/{{_id}}" class="btn btn-primary">Saiba mais</a>
        </div>
    </div>
    {{/each}}

</div>

</div>


