<div class="main-box">

    {{#with serie}}
    <div class="upper-box">
        <div>
            <img class="details-img" src="{{imgPath}}" alt="{{imgName}}">
        </div>
        <div class="info-box d-flex justify-content-around flex-column">
            <h1>{{name}}</h1>
            <div class="d-flex flex-column justify-content-around flex-start">
                <h3>Nota: {{rating}}</h3>
                <h4 style="color: gray;">Gênero: {{genre}}</h4>
            </div>

        </div>
    </div>
    <h4 class="prepare">Sinopse: </h4>
    <p>{{resume}}</p>

    <div class="details-btn-box">
        {{#if isOwner}}
        <a class="btn btn-outline-light details-btn" href="/editar-serie/{{_id}}">Editar serie</a>
        <a class="btn btn-outline-light details-btn" href="/delete-serie/{{_id}}">Deletar serie</a>
        <a class="btn btn-outline-light details-btn" href="/post-serie/{{_id}}">Postar serie</a>
        {{/if}}
        <a class="btn btn-outline-light details-btn " href="/series">Voltar</a>
    </div>


    <div class="reviews">
        <h4>O que você achou dessa serie?</h4>
        <form action="/serie-review/{{_id}}" method="POST">
            <label for="review"></label>
            <textarea autocomplete="off" rows="4" cols="8" class="form-control" name="comment" style="height:100px"
                required></textarea>
            <div class="review-btn">
                <button class="btn btn-secondary" type="submit">Adicionar comentário</button>
            </div>
        </form>
        {{#each review}}
        <h3>{{user}}</h3>
        <p>{{comment}}</p>
        {{/each}}
        {{/with}}
    </div>

</div>