<div class="main-box">
    <h1 class="page-title">Series</h1>

    {{!-- SEARCH FORM --}}
    <div class="search-box">
        <div class="search-form-left">
            <form action="/series/search" method="post">
                <div class="search-by-name">
                    {{#if search}}
                    <label for="search">Pesquisar </label>
                    <input class="name-input" type="text" name="search" value="{{search}}">
                    {{else}}
                    <label for="search">Pesquisar </label>
                    <input class="name-input" type="text" name="search" placeholder="Busque pelo nome da Serie">
                    {{/if}}
                </div>
                <div class="search-by-checkbox row" style="margin:3%">
                    {{#with genreOne}}
                    <div class="search-checkbox row" style="width: 12rem;">
                        <input type="checkbox" value="{{this}}" name="genre" checked>
                        <label for="{{this}}">{{this}}</label>
                    </div>
                    {{/with}}
                    {{#each genre}}
                    <div class="search-checkbox row" style="width: 12rem;">
                        <input type="checkbox" value="{{this}}" name="genre" checked>
                        <label for="{{this}}">{{this}}</label>
                    </div>
                    {{/each}}
                    {{#each genreArr}}
                    <div class="search-checkbox row" style="width: 12rem;">
                        <input type="checkbox" value="{{this}}" name="genre">
                        <label for="{{this}}">{{this}}</label>
                    </div>
                    {{/each}}
                </div>
        </div>
        <div class="search-form-right">
            <button type="submit" class="btn btn-outline-light btn-lg">Buscar</button>
            </form>
            {{#if buscado}}
            <a class="btn btn-outline-light btn-lg" href="/series">Limpar filtros</a>
            {{/if}}
            <p>Ou então</p>
            <a class="btn btn-outline-light btn-lg add-btn" href="/add-serie">Adicione sua serie!</a>
        </div>
    </div>

    {{!-- SERIES LIST --}}
    <div class="row card-list" style="justify-content:flex-start">
        {{#each series}}
        <div class="card m-2 bg-light card-item" style="width: 16rem; ">
            <img class="card-img-top" style="max-height: 14rem;" src="{{imgPath}}" alt="Receita IMG">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text" style="width: 100%;">Gênero: {{genre}}</p>
                <p class="card-text" style="width: 100%;">Nota: {{rating}}</p>

                <a href="/serie/{{_id}}" class="btn btn-secondary">Saiba mais</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>