<div class="main-box">
    <h1>Series</h1>
    <button><a href="/add-serie">Adicionar serie</a></button> <br><br>

    <form action="/series/search" method="post">
        {{#if search}}
        <label for="search">Pesquisar: </label>
        <input type="text" name="search" value="{{search}}">
        {{else}}
        <label for="search">Pesquisar: </label>
        <input type="text" name="search" placeholder="Coloque o nome da Serie">
        {{/if}}
        {{#each genreArr}}
        <input type="checkbox" value="{{this}}" name="genre">
        <label for="{{this}}">{{this}}</label>
        {{/each}}
        <button type="submit">Buscar</button>
        {{#if buscado}}
        <a href="/series">Limpar filtros</a>
        {{/if}}
    </form>

    {{#each series}}
    <div class="serie-box">
        {{#if imgPath}}
        <div>
            <img class="serie-img" src="{{imgPath}}" alt="{{imgName}}">
        </div>
        {{/if}}
        <h2>{{name}}</h2>
        <p>Gênero: {{genre}}</p>
        <p>Nota: {{rating}}</p>
        <a href="/serie/{{_id}}">Saiba mais</a>
        <hr>
    </div>
    {{/each}}

</div>
