<div class="main-box">
    <h1 class="series-title">Series</h1>

    <div class="serie-search-box">
        <form action="/series/search" method="post">
            <div class="search-by">
                {{#if search}}
                <label for="search">Pesquisar </label>
                <input class="name-input" type="text" name="search" value="{{search}}">
                {{else}}
                <label for="search">Pesquisar </label>
                <input class="name-input" type="text" name="search" placeholder="Busque pelo nome da Serie">
                {{/if}}
            </div>
            <div>
                {{#each genre}}
                <input type="checkbox" value="{{this}}" name="genre" checked>
                <label for="{{this}}">{{this}}</label>
                {{/each}}
                {{#each genreArr}}
                <input type="checkbox" value="{{this}}" name="genre">
                <label for="{{this}}">{{this}}</label>
                {{/each}}
            </div>
            <div class="search-btn">
                <button type="submit" class="btn btn-outline-light btn-lg">Buscar</button>
                {{#if buscado}}
                <a class="btn btn-outline-light btn-lg" href="/receitas">Limpar filtros</a>
                {{/if}}
            </div>
        </form>
        <div class="add-your-serie">
            <p>Ou então</p>
            <a class="btn btn-outline-light btn-lg add-btn" href="/add-receita">Adicione sua serie!</a>
        </div>
    </div>
    {{!-- SEARCH FORM --}}
    {{!-- <div class="form-box" style="max-width: 90vw;">
        <form action="/series/search" method="post">
            <div>
                {{#if search}}
                <label for="search">Pesquisar </label>
                <input class="name-input" type="text" name="search" value="{{search}}">
                {{else}}
                <label for="search">Pesquisar </label>
                <input class="name-input" type="text" name="search" placeholder="Busque pelo nome da Serie">
                {{/if}}
            </div>
            <div>
                {{#each genre}}
                <input type="checkbox" value="{{this}}" name="genre" checked>
                <label for="{{this}}">{{this}}</label>
                {{/each}}
                {{#each genreArr}}
                <input type="checkbox" value="{{this}}" name="genre">
                <label for="{{this}}">{{this}}</label>
                {{/each}}
            </div>
            <div>
                <button type="submit">Buscar</button>
                {{#if buscado}}
                <a href="/series">Limpar filtros</a>
                {{/if}}
            </div>

        </form> --}}

    {{!-- </div> --}}

    {{!-- SERIES LIST --}}
    <div class="row">
        {{#each series}}
        <div class="card m-2 bg-light" style="width: 18rem; height: 28rem;">
            <img class="card-img-top" style="max-height: 16rem;" src="{{imgPath}}" alt="Serie IMG">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Gênero: {{genre}}</p>
                <p class="card-text">Nota: {{rating}}</p>

                <a href="/serie/{{_id}}" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
        {{/each}}
    </div>

</div>