<div class="main-box">
    <h1 class="lives-title">Lives</h1>

    {{!-- SEARCH FORM --}}
    <div class="lives-search-box">
        <form action="/lives/search" method="post">
            <div class="search-by">
                {{#if name}}
                <label for="name">Pesquisar </label>
                <input class="name-input" type="text" name="name" value="{{name}}">
                {{else}}
                <label for="name">Pesquisar </label>
                <input class="name-input" type="text" name="name" placeholder="Coloque o nome do artista">
                {{/if}}
            </div>
            <div class="search-by">
                {{#with genreOne}}
                <input type="checkbox" value="{{this}}" name="genre" checked>
                <label for="{{this}}">{{this}}</label>
                {{/with}}
                {{#each genre}}
                <input type="checkbox" value="{{this}}" name="genre" checked>
                <label for="{{this}}">{{this}}</label>
                {{/each}}
                {{#each genreArr}}
                <input type="checkbox" value="{{this}}" name="genre">
                <label for="{{this}}">{{this}}</label>
                {{/each}}
            </div>
            <div class="search-by">
                <label for="data">Data: </label>
                <input type="date" name="data" value={{data}}>
            </div>
            <div class="search-btn">
                <button type="submit" class="btn btn-outline-light btn-lg">Buscar</button>
                {{#if buscado}}
                <a class="btn btn-outline-light btn-lg" href="/lives">Limpar filtros</a>
                {{/if}}
            </div>
        </form>
        <div class="add-your-live">
            <p>Ou então</p>
            <a class="btn btn-outline-light btn-lg add-btn" href="/add-live">Adicione uma live!</a>
        </div>
    </div>

    {{!-- LIVES LIST --}}
    <div class="row card-list" style="justify-content:start">
        {{#each lives}}
        <div class="card m-2 bg-light card-item" style="width: 16rem; ">
            <img class="card-img-top" style="max-height: 14rem;" src="{{imgPath}}" alt="Live IMG">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text" style="width: 100%;">Gênero: {{genre}}</p>
                <p class="card-text" style="width: 100%;">Data: {{data}}</p>
                <a href="/live/{{_id}}" class="btn btn-secondary">Saiba mais</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>