
{{#with recipe}}
{{#if imgPath}}
<img src="{{imgPath}}" alt="{{imgName}}">
{{/if}}
<h1>{{name}}</h1>
<h2>{{category}}</h2>
<h2>{{level}}</h2>
<p>{{prepare}}</p>
<p>{{duration}}</p>

<h3>Qual a sua opinião?</h3>
<form action="/recipe-review/{{_id}}" method="POST">
    <label for="review"></label>
    <input type="text" name='comment'>
    <button type="submit">Adicionar um review</button>
</form>
{{#each review}}
<h3>{{user}}</h3>
<p>{{comment}}</p>
{{/each}}
{{/with}}