<h1>Receitas</h1>
<form action="/receitas/search" method="post">
    {{#if search}}
    <label for="search">Pesquisar: </label>
    <input type="text" name="search" value="{{search}}">
    {{else}}
    <label for="search">Pesquisar: </label>
    <input type="text" name="search" placeholder="Coloque o nome da receita">
    {{/if}}
    <select name="level">
        {{#if level}}
        <option value={{level}}>{{level}}</option>
        {{else}}
        <option value=""></option>
        {{/if}} 
        {{#each levelArr}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
    <select name="duration">
        {{#if duration}}
        <option value="{{duration}}">{{duration}}</option>
        {{else}}
        <option value=""></option>
        {{/if}} 
        {{#each durationArr}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <button type="submit">Buscar</button>
    {{#if buscado}}
    <a href="/receitas">Limpar filtros</a>
    {{/if}}
</form>
{{#each receitas}}
<div>
    {{#if imgPath}}
    <img src="{{imgPath}}" alt="{{imgName}}">
    {{/if}}
    <h2>{{name}}</h2>
    <p>{{level}} - {{duration}}</p>
    <h3>{{category}}</h3>
    <a href="/receita/{{_id}}">Saiba mais</a>
</div>
{{/each}}
<a href="/add-receita">Adicionar receita</a>