<div class="outer-box">
    <div class="main-box">

        <h1>Receitas</h1>
        <button><a href="/add-receita">Adicionar receita</a></button> <br><br>

        <div class="form-box">
            <form action="/receitas/search" method="post">
            <div>
                {{#if search}}
                <label for="search">Pesquisar: </label>
                <input type="text" name="search" value="{{search}}">
                {{else}}
                <label for="search">Pesquisar: </label>
                <input type="text" name="search" placeholder="Coloque o nome da receita">
                {{/if}}
            </div>
            <div>
                <select name="category">
                    {{#if category}}
                    <div>
                        <option value="{{category}}">{{category}}</option>
                    </div>
                    {{else}}
                    <div>
                        <option value=""></option>
                    </div>
                    {{/if}} 
                    {{#each categoryArr}}
                    <div>
                        <option value="{{this}}">{{this}}</option>
                    </div>
                    {{/each}}
                </select>
            </div>
            <div>
                <select name="level">
                    {{#if level}}
                    <option value={{level}}>{{level}}</option>
                    {{else}}
                    <option value=""></option>
                    {{/if}} 
                    {{#each levelArr}}
                    <option value={{this}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <select name="duration">
                    {{#if duration}}
                    <option value="{{duration}}">{{duration}}</option>
                    {{else}}
                    <option value=""></option>
                    {{/if}} 
                    {{#each durationArr}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <button type="submit">Buscar</button>
                {{#if buscado}}
                <a href="/receitas">Limpar filtros</a>
                {{/if}}
            </div>
            </form>
        </div>

{{!-- RECIPES LIST --}}
        <div class="row">
            {{#each receitas}}
            <div class="card m-2 bg-light" style="width: 18rem; height: 28rem;">
                <img class="card-img-top" style="max-height: 16rem;" src="{{imgPath}}" alt="Receita IMG">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">Nível de dificuldade: {{level}}</p>
                    <p class="card-text">Categoria: {{category}}</p>

                    <a href="/receita/{{_id}}" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


